header {
    text-align: center;
    font-size: 100px;
    width: 1200px;
    margin: 20px auto;
    background-color: gray;
}

li {
    list-style: none;
    float: left;
    padding: 10px 10px;
    background-color: blanchedalmond;
}

#menus {
    font-size: 30px;
    width: 30%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin : 0 auto;
}

a {
    text-decoration-line: none;
}
a:link { 
    color: gray;
}
a:visited { 
    color: gray;
}
a:hover { 
    color: red;
}
a:active { 
    color: gold;
}

main { 
    background-color: honeydew;
    width: 1100px;
    margin: 30px;
    margin-left: 400px;
    height: 600px;
}

#foot {
    background-color: rgba(255, 192, 203, 0.685);
    width: 1150px;
    margin: 30px;
    margin-left: 370px;
}

body {
    background-color: balck;
}